*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root{
    /* --font-color: #000;
    --background-yellow-color: #FFBF23;
    --background-pink-color: #FFD7EF; */
    /* FONT TYPE */
    --heading-font-family: "Space Grotesk", sans-serif;
    --paragraph-font-family:  'Proxima Nova', sans-serif;
}


@font-face {
    font-family: 'Proxima Nova';
    src: url('Proxima Nova Font.otf') format('opentype');
    /* font-weight: normal; */
    font-style: normal;
  }  




/* 
header and navigation style starts */



header{
    padding: 10px;
    /* border: 1px solid blue; */
}

nav{
    padding: 10px 40px 10px 40px;
    /* border: 1px solid black; */
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
}

.logo-components{
    /* border: 1px solid rgb(255, 0, 98); */
    width: auto;
    display: flex;
    align-items: center;
}


.logo-components img{
    position: relative;
    right: 10px;
}


.logo-components h3{
    position: relative;
    bottom: 4px;
    font-family: var(--paragraph-font-family);
}
.logo-components p{
    font-size: 14px;
    display: block;
    font-weight: 200;
}

.menus{
    /* border: 3px solid rgb(9, 112, 66); */
    width: auto;
    display: flex;
    align-items: center;
}
.menus .menu-items {
    /* border: 3px solid rgb(38, 9, 112); */
    padding: 14px ;
    list-style: none;
    width: auto;
}
.menu-items a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(74, 78, 81);
}

.menu-items a:hover{
    color: rgb(168, 180, 190);
}

.menu-items button{
    background-color:#F2A922;
    border-width: 1px;
    padding: 15px;
    width: 120px;
    border-radius: 8px;
    border-color: rgb(100, 90, 10);
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
}
.menu-items button:hover{

    background-color: rgb(16, 16, 16);
    color: rgb(227, 210, 17) ;
}
.login {
    display: flex;
    justify-content: space-evenly;
}

/* Navigation Bar style ends here */

/* ------------------------------------------- */

/* hero section starts here */



.hero{

    display: flex;
    justify-content: space-around;
    
}

.hero .hero-content{
    /* border: 2px solid black; */
    height: auto;
    padding: 80px;
    width: 50%;
    position: relative;
    left: 90px;
}

.hero-content h1{

    font-size: 48px;
    font-weight: 300;
    font-family: var(--paragraph-font-family);

}

.hero-content h3 {
    /* border: 1px solid black; */
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: var(--paragraph-font-family);
}

.hero-content a button{
    background-color: rgb(0, 0, 0);
    border-width: 1px;
    padding: 15px;
    width: 120px;
    border-radius: 8px;
    border-color: rgb(100, 90, 10);
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
    color: aliceblue;
}

.hero-content a button:hover{
    background-color: #F2A922;
    color: black;
}

.hero .hero-img {
position: relative;
right: 80px;
top: 50px;
width: auto;
height: 520px;
/* border: 2px solid black; */
}

.features{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    /* border: 2px solid black; */
}

.feature{
    display: flex;
}

/* hero section ends here */

.section2{
    background-color: #F2A922;
    height: 100vh;
}
